[submodule "js-uprtcl"]
	path = js-uprtcl
	url = git@github.com:uprtcl/js-uprtcl.git
	branch = develop
[submodule "kusama-council-board"]
	path = kusama-council-board
	url = git@github.com:uprtcl/kusama-council-board.git
[submodule "orbitdb-pinner"]
	path = orbitdb-pinner
	url = https://github.com/uprtcl/orbitdb-pinner.git
